:root {
    --bg-color: #292931;
    --button: #121216;
    --dark-highlight: #301E67;
    --highlight: #810CA8;
    --text: #E0E0E0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--bg-color);
  color: var(--text);
}

.page-container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

section {
    display: flex;
    justify-content: space-around;
    min-width: 24rem;
}

button {
    background-color: var(--button);
    color: var(--text);
    max-width: 150px;
    font-size: 1.25rem;
    padding: 1rem 2rem;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 10px;
    transition: border-color .18s;
}

button:hover {
    border-color: var(--highlight);
}
