@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;500;600;700&display=swap');

:root {
    --bg-color: #292931;
    --button: #121216;
    --dark-highlight: #301E67;
    --highlight: #810CA8;
    --text: #E0E0E0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--bg-color);
  color: var(--text);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.page-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

section {
    display: flex;
    justify-content: space-around;
    min-width: 24rem;
    margin: 2rem 1rem;
}

section div {
    margin-inline: 1rem;
}

button {
    background-color: var(--button);
    color: var(--text);
    max-width: 150px;
    font-size: 1.25rem;
    padding: 1rem 2rem;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 10px;
    transition: border-color .18s;
}

button:hover {
    border-color: var(--highlight);
}

.results {
    min-width: 420px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* font-family: 'Pixelify Sans', cursive; */
}

.results div {
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* border: 1px solid green; */
}
